node_modules
/dist
.dumi/tmp
.dumi/tmp-test
.dumi/tmp-production
.DS_Store
package-lock.json
pnpm-lock.json
yarn-lock.json
pnpm-lock.yaml

.idea/
.DS_Store
.vscode
*.lock
logs/
npm-debug.log
yarn-error.log

node_modules/
tmp*
coverage
docs-dist

*.zip
*.tgz
